.custom-navbar {
    background-color: #424242;          /* cor escura como na imagem */
    padding: 8px 20px;
}

.search-wrapper {
    width: 50%;                      /* tamanho da barra de busca */
}

.search-input {
    border-radius: 20px;
    background-color: #eee;
    border: none;
    padding-left: 15px;
}

/* Barra superior dos links */
.bg-light {
    background-color: #f1f1f1 !important;
}

.border-bottom {
    border-bottom: 1px solid #d3d3d3 !important;
}

.dropdown-menu {
    border-radius: 6px;
}
.pro{
    background-color: #353434;

}
.pro2{
    background-color: #424242;
}
.b{
    background-color: #0700e0;
    color: #f1f1f1;
}
.b:hover{
    background-color: #0903af;
    color: #f1f1f1;
}
.search-input:focus {
    outline: none;
    box-shadow: none;
    background-color: #fff;
}
body {
    background-color: #424242;
}

.card {
    border: none;
    border-radius: 8px;
}

.accordion-button {
    box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
    background-color: #444 !important;
    color: white !important;
}
.img-produto {
    width: 90px;
    height: 90px;
    object-fit: cover;   /* Preenche sem distorcer */
    border-radius: 6px;  /* Borda suave como nos sites */
}
.accordion-button::after {
    display: none !important;
}

/* Adicionando seta com Bootstrap Icons */
.seta::before {
    content: "\f282";  /* ícone "chevron-down" */
    font-family: "Bootstrap-icons";
    font-size: 18px;
    margin-right: 10px;
    transition: 0.3s;
}

/* Quando o accordion abre, gira a seta */
.accordion-button:not(.collapsed).seta::before {
    transform: rotate(180deg);
}