*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}
body{
    background-color: #424242;
}
a{
    text-decoration: none;
    color: rgb(182, 182, 182);
}
.custom-navbar {
    background-color: #424242;          /* cor escura como na imagem */
    padding: 8px 20px;
}

.search-wrapper {
    width: 50%;                      /* tamanho da barra de busca */
}

.search-input {
    border-radius: 20px;
    background-color: #eee;
    border: none;
    padding-left: 15px;
}
.placeholder-dark::placeholder {
        color: black !important; /* Deixa o texto do placeholder preto */
        opacity: 1; /* Garante que a opacidade não fique transparente */
    }
.nav{
    width: 100%;
    padding-top: 10px;
    height: 50px;
    background-color: #424242;
}
.esquerda{
    margin-top: 10px;
    margin-left: 30px;
    justify-content: center;
    font-weight: bolder;
}
.sla {
    display: flex;
    gap: 30px;
    padding: 15px 30px;
}

.menu-list {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-item {
    position: relative;
    color: white;
    cursor: pointer;
}

.menu-btn {
    color: #424242;
    font-weight: bold;
}
.menu-list:hover{
color: #0d6efd;
}
.menu-btn:hover {
color:  #0d6efd;
}
.azul li a:hover{
    color: #0d6efd;
}

/* CAIXA PRINCIPAL QUE ABRE */
.dropdown {
    position: absolute;
    top: 40px;
    left: 0;
    background: #222;
    border: 1px solid #444;
    padding: 10px 0;
    min-width: 180px;
    display: none;
    flex-direction: column;
    z-index: 500;
    border-radius: 5px;
}

/* ITENS DO DROPDOWN */
.drop-item, .item-toggle {
    padding: 10px 15px;
    color: white;
    display: flex;    
    justify-content: space-between;
}

.drop-item:hover, .item-toggle:hover {
    background: #333;

}

/* SUBMENU INTERNO */
.sub-menu {
    display: none;
    flex-direction: column;
}

.sub-menu a {
    padding: 8px 25px;
    color: #ccc;
}

.sub-menu a:hover {
    background: #333;
}

.seta {
    transition: 0.3s;
}

.girar {
    transform: rotate(180deg);
}

.sla {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content:space-evenly; /* centraliza */
    align-items: center;
    height: 100px;
}

.sla ul {
    list-style: none;
    display: flex;          /* deixa os li lado a lado */
    gap: 30px;              /* espaço entre os botões */
    align-items: center;
}

.sla ul li {
    display: flex;
    align-items: center;
}

::placeholder {
        color: white !important;
        opacity: 1;
    }

/*Finalizar*/
.row{
    margin-left: 10px;
}
input {
        background: #555 !important;
        border: none !important;
        color: white !important;
        border: #f5f5f5 solid 1px;
    }


    .resumo-box {
        background: #2f2f2f;
        padding: 20px;
        border-radius: 6px;
    }

    .linha {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        border-bottom: 1px solid #666;
    }

    .total {
        background: #003cff;
        margin-top: 10px;
        padding: 10px 10px;
        border-radius: 4px;
        font-weight: bold;
        color: #ffffff;
    }

    .valor-verde { color: rgb(0, 200, 0); font-size: 22px; margin-top: 10px; }
    .valor-vermelho { color: red; font-size: 22px; margin-top: 20px; }
    .risco { text-decoration: line-through; color: #ffbdbd; }
    .texto-centro { text-align: center; }

    .branco{
        color: white;
        margin-left: 4%;
    }

    /*Catao*/
    .form-control,
    .form-select {
      background-color: #444;
      border: 1px solid #666;
      color: white;
    }
    .form-control::placeholder {
      color: #ccc;
      opacity: 1;
    }
    .form-check-label {
      user-select: none;
    }
    /* Espaçamento entre os inputs pequenos */
    .small-input {
      width: 100px;
    }
    /* Layout do grupo Mês e Ano validade */
    .validade-group input {
      width: 100px;
      display: inline-block;
      margin-right: 10px;
    }
    /* Para alinhar CPF ao lado do Nome */
    .row-gutter {
      gap: 15px;
    }
    .row1{
        background-color: #2f2f2f;
        box-sizing: border-box;
        padding: 35px;
        border-radius: 5px;
        margin-right: 18vh;
    margin-left: 10px;
}

.footer-custom {
    background: #424242;
    color: #fff;
    padding: 20px 0;
    margin-top: 40px;
}

.footer-line {
    width: 90%;
    height: 1px;
    background: #aaa;
    margin: 0 auto 20px auto;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    width: 90%;
    margin: auto;
}

.footer-icons a {
    color: white;
    font-size: 22px;
    margin: 0 8px;
    transition: 0.3s;
}

.footer-icons a:hover {
    opacity: 0.7;
}

.footer-text {
    color: white;
    text-decoration: none;
    transition: 0.3s;
    font-size: 14px;
}

.footer-text:hover {
    opacity: 0.7;
}
