body{
    background-color: #DBDBDB;
}
#nav{
    background-color: #424242;
}
#up{
    color: #056ef8;
}
#acesse{
    background-color: #ffffff;
    width: 500px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    margin-top: 50px;
    padding:30px;
    box-shadow: 0px 0px 30px 1px #42424262;
}
.b1{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #0700E0;
    color: #ffffff;
    text-decoration:none;
    border: 1px solid #0700E0;
}
.b2{
    width: 100%;
    background-color: #0700E0;
    color: #ffffff;
    border: 1px solid #0700E0;
}
.b1:hover{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #0066ff;
    color: #ffffff;
    border: 1px solid #0066ff;
}
.b2:hover{
    width: 100%;
    background-color: #0066ff;
    color: #ffffff;
    border: 1px solid #0066ff;
}
.link{
    text-decoration:none;
    color: #ffffff;
}
.fontAzul{
    color: #0700E0;
}
