/* Navbar personalizada */
.custom-navbar {
  background-color: #424242;
  padding: 8px 20px;
}
body{
  background-color: #424242;
}
.search-wrapper {
  width: 50%;
}

.search-input {
  border-radius: 20px;
  background-color: #eee;
  border: none;
  padding-left: 15px;
}

/* Links superiores */
.bg-light {
  background-color: #f1f1f1 !important;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 1);
}

.border-bottom {
  border-bottom: 1px solid #d3d3d3 !important;
}

.dropdown-menu {
  border-radius: 6px;
}

/* Carrossel ou imagem principal */
.carousel-slide {
  width: 100vw;
  height: 300px;
  background-color: #007bff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.carousel-slide img {
  max-height: 100%;
  object-fit: contain;
}

.carousel-seta {
  font-size: 24px;
  color: white;
  padding: 20px;
  cursor: pointer;
}

/* Botões de ação */
.btn-primary {
  background-color: #007bff;
  border: none;
  border-radius: 6px;
  margin-bottom: 10px;
}

.btn-outline-secondary {
  border-radius: 6px;
}

/* Avaliações */
.review-box {
  border: 1px solid #d3d3d3;
  border-radius: 6px;
  padding: 15px;
  margin-bottom: 10px;
}

/* Rodapé */
footer {
  background-color: #424242;
  color: white;
  padding: 20px 0;
}

footer a {
  color: white;
  text-decoration: none;
}

footer span {
  margin-right: 20px;
}
